@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900');
body {
    font-family: Roboto;
    height: 100%;
    margin: auto;
    background-color: #ededed;
}

.material-icons {
    user-select: none;
}

.container {
    width: 80%;
    margin: auto;
    padding: 15px 20px;
    background-color: white;
}

table {
    border-collapse: collapse;
    font-family: system-ui;
    font-size: 13px;
    z-index: 1;
}

table td {
    padding: 8.5px 10px;
    min-width: 50px;
    height: 30px;
    border: 1px solid grey;
}

table td:focus {
    border-color: #59a4de;
    box-shadow: rgb(0, 116, 204, 0.15) 0px 0px 0px 4px;
    outline: 0;
}

.table-add-column {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbefff;
    border: 1px solid #a7d6fc;
    border-left: none;
    border-top: none;
    flex: 1;
}

.table-remove-column {
    background-color: #ffdbdb;
    border: 1px solid #fca7a7;
    text-align: center;
    border-left: none;
}

.table-add-row {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbefff;
    border: 1px solid #a7d6fc;
    border-top: none;
    flex: 1;
    border-left: none;
}

.table-remove-row {
    background-color: #ffdbdb;
    border: 1px solid #fca7a7;
    width: 21px;
    text-align: center;
    border-top: none;
}

.table-container {
    display: inline-block;
}

.table-button {
    user-select: none;
    transition: 0.2s;
    cursor: pointer;
}

.table-add:hover {
    background-color: #a7d6fc;
}

.table-remove:hover {
    background-color: #fca7a7;
}

.table-column-controls {
    display: flex;
    flex-direction: column;
}

tr:first-child {
    font-weight: bold;
}

tr:first-of-type {
    border-bottom: 2px solid grey;
    background-color: #f4f4f4;
}

.options .options-list .option {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 17px;
}

.options .options-list .option input[type="checkbox"] {
    margin-right: 7.5px;
}

.mid-row {
    display: flex;
    margin-bottom: 40px;
    overflow:auto;
}

.mid-row>div {
    flex: 1;
}

#resultarea {
    position: relative;
    border: 1px solid #ededed;
}

#result {
    padding: 20px 10px;
    margin: 0;
    overflow: auto;
}

.top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

#options{
    position: relative;
}

.shadowed-button {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.shadowed-button:hover {
    background-color: #ededed;
}

.shadowed-button:active{
    background-color:#cccccc;
}

.options {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: white;
    z-index: 1;
    border-radius: 4px;
    padding: 10px 20px;
    min-width: 200px;
    box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
    text-align: center;
}

.options .options-list {
    padding-bottom: 10px;
}

.options .options-list .option label {
    flex: 1;
    text-align: left;
    padding-left: 10px;
}

.options .title {
    margin-top: 5px;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    color: grey;
}

.small-caption {
    color: grey;
    font-size: 13px;
}

.toolbar {
    display: flex;
}

.toolbar .btn {
    height: 30px;
    padding: 0 20px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
    margin: 0 10px;
}

.toolbar .btn:first-child {
    margin-left: 0;
}

.toolbar .btn .material-icons {
    font-size: 14px;
    margin-right: 5px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.1);
}

.modal .modal-content {
    position: relative;
}

#import-modal {
    display: none;
}

#import-modal .modal-content {
    pointer-events: all;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
}

#import-modal .modal-content .padded-area {
    padding: 20px 15px;
    padding-bottom: 0;
    margin-bottom: 10px;
}

#import-modal .modal-content .title {
    margin-top: 0;
    font-size: 25px;
    font-weight: 300;
}

#import-modal .modal-content .warning .material-icons {
    font-size: 20px;
    vertical-align: bottom;
    margin-right: 5px;
}

.warning {
    color: #CC3300;
}

#import-area {
    margin-top: 20px;
}

#import-data {
    width: 100%;
    font-size: 1rem;
    font-family: courier;
    height: 300px;
}

.modal-controls {
    text-align: right;
}

.modal-controls #modal-import-button {
    padding: 10px;
    background-color: #ededed;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-controls #modal-import-button .material-icons {
    vertical-align: middle;
    margin-left: 5px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 3px;
}

.modal-close:hover {
    background-color: #ededed;
}

#import-modal-error {
    font-size: 15px;
    display:none;
}